body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    /* Example styles */
    // background-color: white !important;

    // h1 {
    //   color: black !important;
    // }

    font-family: Bookerly !important;
    font-weight: 300 !important;

a.filename {
    font-size: 11px !important;
}

.filetree-sidebar {
    width: 350px !important;
}

.toc-title-container {
    display: none !important;
}

.toc-container {
    font-size: 0.7rem !important;
    max-height: 100% !important;
    border-left: none !important;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://github.com/afganrasulov/denemeler.rasulov.net/blob/2d878901adc7397350a5233e362dbb00bb9dbe6d/Bookerly-Regular.ttf/Bookerly-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://github.com/afganrasulov/denemeler.rasulov.net/blob/2d878901adc7397350a5233e362dbb00bb9dbe6d/Bookerly-Bold.ttf/Bookerly-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://github.com/afganrasulov/denemeler.rasulov.net/blob/2d878901adc7397350a5233e362dbb00bb9dbe6d/Bookerly-RegularItalic.ttf/Bookerly-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bookerly';
    src: url('https://github.com/afganrasulov/denemeler.rasulov.net/blob/2d878901adc7397350a5233e362dbb00bb9dbe6d/Bookerly-BoldItalic.ttf/Bookerly-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

p, li {
    font-family: Bookerly !important;
    font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: Bookerly !important;
    font-weight: bolder !important;
}

.graph-title {
    display: none !important;
}

label[for="graph-depth"] {
    display: none !important;
}

.search-button {
    border-radius: 2px !important;
    min-width: 50% !important;
    padding: 21px !important;
    margin: 10px 25px !important;
    border: none !important;
}

    span.search-icon {
    margin-right: 5px !important;
}

     /***
.filetree-sidebar h1 {
    display: none !important;
}  ***/
    }
