body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }

font-family: 11px;    

a.filename {
    font-size: 11px;
}

.filetree-sidebar {
    width: 350px;
}

    .toc-title-container {
    display: none;
}

.toc-container {
    font-size: 0.7rem;
    max-height: 100%;
	border-left: none;
}


    
}
